<main>
  <h1>ChatBot</h1>
  <div>
    <label class="pad" for="message">Message :</label>
		<input #text type="text" id="message" placeholder="Quelle est la question ?" required autocomplete="off">
		<button type="button" (click)="send()">Envoyer</button>
  </div>
  <section class="t50" *ngIf="lastQuestion">
    <h2>Question envoyée au ChatBot</h2>
    <p>{{ lastQuestion }}</p>
  </section>
  <section *ngIf="response">
    <h2>Réponse du ChatBot</h2>
    <p>{{ response }}</p>
  </section>
</main>